<div class="root_btn_div">
    <h3 class="hello-header">Find your community</h3>

    <%= link_to "Sign In", new_user_session_path, class: "root_btn btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "root_btn_up btn btn-primary" %>
</div>